/* App.css */
@import "tailwindcss";


.course-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  width: 100%;
  max-width: 1292px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Tablet: 2 per row */
@media (max-width: 1024px) {
  .course-grid {
    justify-content: center;
  }

  .course-card {
    flex: 1 1 calc(50% - 24px);
    max-width: calc(50% - 24px);
  }
}

/* Mobile: 2 per row */
@media (max-width: 640px) {
  .course-card {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }

  .course-grid {
    gap: 16px;
    padding: 0 12px;
  }

  body.modal-open {
  overflow: hidden;
  filter: blur(4px);
}

body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}


}
